/* Base styles */
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:#0a9396;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    height: 110px;
    width: auto;
}

.header-title {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Navigation styles */
nav {
    background-color: #0a9396;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s;
    font-size: 16px;
}


/* Dropdown styles */
nav ul ul {
    padding: 5px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
    font-size: 14px;
}
/* Dropdown styles */
nav ul ul a{
    font-size: 14px;
    color: #00030a;
}


nav ul li:hover > ul {
    display: block;
    color: #00030a;
}

nav ul ul li {
    margin: auto;
    width: 100%;
    
}
nav ul li ul li a:hover {
 
    background-color: #e4eeeee8;


}


/* Responsive styles */
@media screen and (max-width: 1024px) {
    .header-title {
        font-size: 1.5rem;
    }
    
    nav ul li a {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }
    
    .logo {
        height: 40px;
    }
    
    .header-title {
        font-size: 1.2rem;
        order: 2;
        width: 100%;
        
    }
    
    .hamburger {
        display: block;
        order: 3;
    }
    
    nav {
        display: none;
    }
    
    nav.active {
        display: block;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    nav ul ul {
        position: static;
        width: 100%;
        background-color: #ffffff;
    }
    
    nav ul li {
        width: 100%;
    }
    
    nav ul li a {
        padding: 0.8rem 1rem;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        height: 30px;
    }
    
    .header-title {
        font-size: 1rem;
    }
}

/* Footer Styles */
footer {
    background-color: #0a9396;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}


@media (max-width: 480px) {
    .logo {
        width: 60px;
    }

    footer {
        padding: 15px;
        font-size: 14px;
    }
}